.pool {
  padding: 0;
  width: 100%;
  max-width: 100%;
  min-height: calc(100vh - 60px);
  background-color: #ded9ed;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.pool__content {
  width: 100%;
  max-width: 1570px;
  padding: 0 35px;
  margin: -20px auto 0 auto;
  flex-grow: 1;
  z-index: 2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  animation: pool-content-appear 0.9s;
}

@keyframes pool-content-appear {
  from {
    transform: translateY(-15px);
  }
}