.pool-stats {
  width: 100%;
  position: relative;
  background: linear-gradient(to right, #962477, #5631a3);
  transform-origin: 50% 0;
}

.pool-stats__wrapper {
  width: 100%;
  max-width: 1460px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  animation: pool-stats-content-appear 0.4s;
}

@keyframes pool-stats-content-appear {
  from {
    transform: translateY(-8px);
    opacity: 0;
  }
}

.pool-stats__main {
  padding: 30px 35px 50px 35px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}

.pool-stats__pool-select {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 99px;
  border: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 7px 9px;
  font-weight: 400;
  transition: background-color 0.15s;
}

.pool-stats__pool-select:hover {
  transition: none;
  background-color: rgba(255, 255, 255, 0.15);
  cursor: pointer;
}

.pool-stats__pool-select:active {
  transition: background-color 0.1s;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.pool-stats__pool-select-pair {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.pool-stats__pool-select-pair--reef {
  filter: brightness(1.1);
}

.pool-stats__pool-select span {
  padding-right: 10px;
}

.pool-stats__pool-select-pair + span {
  margin-left: 10px;
}

.pool-stats__pool-select-pair img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}

.pool-stats__pool-select-pair img + img {
  margin-left: -5px;
  z-index: 1;
}

.pool-stats .pool-stats__transactions-btn {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-weight: 500;
  line-height: 1.0;
}

.pool-stats .pool-stats__transactions-btn:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.pool-stats .pool-stats__transactions-btn:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.pool-stats .pool-stats__main-stats {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
}

.pool-stats .pool-stats__main-stat + .pool-stats__main-stat {
  margin-left: 50px;
}

.pool-stats__main-stat-label {
  color: #ff5ece;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.2;
  margin-bottom: 5px;
  white-space: nowrap;
}

.pool-stats__main-stat-value {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  color: white;
  line-height: 1.2;
  white-space: nowrap;
}

.pool-stats__main-stat-value .uik-trend {
  align-self: flex-end;
  margin-bottom: 0.25rem;
  margin-left: 12px;
}

.pool-stats__tokens {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: stretch;
}

.pool-stats__token {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px 35px 50px 35px;
  border-left: solid 1px rgba(255, 255, 255, 0.1);
}

.pool-stats__token-info {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
}

.pool-stats__token-main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.pool-stats__token-image {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.pool-stats__token-image--reef {
  filter: brightness(1.1);
}

.pool-stats__token-image + * {
  margin-left: 22px;
}

.pool-stats__token-name {
  font-size: 1.188rem;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.3;
}

.pool-stats__token-percentage {
  font-size: 0.813rem;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  line-height: 1.3;
}

.pool-stats__token-price {
  font-size: 1.188rem;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.3;
  text-align: right;
}

.pool-stats__token-value-ratio {
  font-size: 0.813rem;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  line-height: 1.3;
  white-space: nowrap;
  text-transform: uppercase;
  text-align: right;
}

.pool-stats__token-stats {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.pool-stats__token-stat + .pool-stats__token-stat {
  margin-left: 35px;
}

.pool-stats__token-stat-label {
  color: #ff5ece;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.2;
  margin-bottom: 4px;
  white-space: nowrap;
}

.pool-stats__token-stat-value {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.188rem;
  font-weight: 500;
  color: white;
  line-height: 1.2;
  white-space: nowrap;
}