.max-btn-w{
  text-align: left;
  font-size: 0.7em;
  margin-top: 0 !important;
  margin-left: 1em;
}

.bond-card {
  --text: #19233c;
  --text-light: #898e9c;
  --primary-text: #a53187;
  --primary: #a93185;
  --secondary: #5531a9;
  --gradient: linear-gradient(to right, var(--primary), var(--secondary));
  --danger: #d93636;
  --success: #47cc8a;
  --border-color: #EAEDF3;
  --border-color-lighter: #eff2f6;
  --border-color-darker: #D8DCE6;
  --shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.07);

  width: 100%;
  position: relative;
  padding-bottom: 6px;
}

.bond-card__wrapper {
  height: 100%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.07);
  padding: 35px 40px;
  width: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.bond-card__token-image {
  width: 60px;
}

.bond-card__title {
  margin-top: 18px;
  font-size: 1.25rem;
  color: var(--text);
  font-weight: 600;
}

.bond-card__subtitle {
  margin-top: 0;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text);
}

.bond-card__description {
  margin-top: 15px;
  font-size: 0.938rem;
  font-weight: 600;
  color: var(--primary);
  background: -webkit-linear-gradient(0deg, var(--primary), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bond-card__stats {
  width: 100%;
  margin-top: 20px;
}

.bond-card__stat {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  position: relative;
  border: dashed 1px #b9bfcf;
  padding: 25px 15px;
}

.bond-card__stat + .bond-card__stat {
  margin-top: 16px;
}

.bond-card__stat-label {
  position: absolute;
  top: -9px;
  font-size: 0.75rem;
  text-transform: uppercase;
  background-color: white;
  font-weight: 600;
  color: var(--text-light);
  padding: 0 5px;
}

.bond-card__stat-value {
  font-size: 30px;
  line-height: 1;
  font-weight: 900;
  max-width: 100%;
  overflow: hidden;
  word-break: break-all;
}

.bond-card__stat:first-child .bond-card__stat-value {
  color: var(--primary);
  background: -webkit-linear-gradient(0deg, var(--primary-text), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1s linear all;
}

.bond-card__stat-value--animate {
  animation: bounce 1s ease;
}

@keyframes bounce {
  0%   { transform: scale(1,1) translateY(0); }
  10%  { transform: scale(1.1,.9) translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-30px);}
  50%  { transform: scale(1.05,.95) translateY(0); }
  58%  { transform: scale(1,1) translateY(-7px); }
  65%  { transform: scale(1,1) translateY(0);}
  100% { transform: scale(1,1) translateY(0);}
}
.bond-card__stat:last-child .bond-card__stat-value {
  color: #26b686;
}

.bond-card__info {
  width: 100%;
  margin-top: 35px;
}

.bond-card__info-item {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 0.875rem;
  line-height: 1.1;
}

.bond-card__info-item:nth-child(odd) {
  background-color: #f5f7fa;
}

.bond-card__info-label {
  font-weight: 500;
  color: var(--text);
  text-align: left;
  white-space: nowrap;
}

.bond-card__info-value {
  font-weight: 600;
  color: var(--text);
  text-align: right;
  margin-left: 10px;
}

.bond-card__info-value--success {
  color: var(--success);
}

.bond-card__info-value a {
  font-weight: 600;
  color: var(--primary);
  background: -webkit-linear-gradient(0deg, var(--primary), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.bond-card__info-value a:hover {
  filter: brightness(1.2);
}

.bond-card__bottom {
  margin-top: 25px;
  width: 100%;
}

.bond-card .uik-loading {
  margin-top: 35px;
}

.bond-card__success {
  margin-top: 30px;
  color: var(--success);
}

.bond-card__error {
  margin-top: 30px;
  color: var(--danger);
}

.bond-card__bottom > * + * {
  margin-top: 13px;
}

.bond-card__expired {
  width: 100%;
  border: dashed 1px #b9bfcf;
  border-radius: 10px;
  color: var(--text-light);
  font-weight: 600;
  font-size: 0.938rem;
  line-height: 1.3;
  padding: 13px;
}

.bond__cta {
  border: none;
  background: transparent;
  width: 100%;
  display: flex;
}

.bond__cta-btn {
  width: 100%;
}

.bond-card__input-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.bond-card__input-wrapper input {
  padding-right: 67px;
}

.bond-card__max-btn.uik-button--small {
  position: absolute;
  right: 10px;
  padding: 7px 10px;
  border-radius: 7px;
}

.bond-preview {
  margin-top: 10px;
}

.bond-preview__image {
  width: 74px;
  min-width: 74px;
  max-width: 74px;
  height: 74px;
  border-radius: 50%;
  overflow: hidden;
  border: solid 10px white;
  background-color: white;
  margin: -45px auto 0 auto;
}

.bond-preview__image img {
  width: 100%;
  object-fit: cover;
}

.bond-preview__info {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.bond-preview__subtitle {
  margin-top: 5px;
  color: hsla(
    var(--text--h),
    var(--text--s),
    var(--text--l),
    0.85
  );
}

.bond-preview__data {
  width: 100%;
  margin-top: 20px;
}

.bond-preview__data-item {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 0.875rem;
  line-height: 1.3;
  font-weight: 500;
  background-color: hsla(
    var(--border-color--h),
    var(--border-color--s),
    var(--border-color--l),
    0.5
  );
  color: #b2b0c8;
  border-radius: 8px;
  padding: 8px 10px;
}

.bond-preview__data-item + .bond-preview__data-item {
  margin-top: 5px;
}

.bond-preview__data--staked .bond-preview__data-item {
  color: hsla(
    var(--text--h),
    var(--text--s),
    var(--text--l),
    0.9
  );
}

.bond-preview__data--staked .bond-preview__data-item:first-child span:last-child {
  background: -webkit-linear-gradient(0deg, var(--primary), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bond-preview__data--staked .bond-preview__data-item:last-child span:last-child {
  color: hsl(
    var(--success--h),
    var(--success--s),
    calc(var(--success--l) - 5%)
  );
}

.bond-preview__data-item span:first-child {
  text-align: left;
  padding-right: 10px;
}

.bond-preview__data-item span:last-child {
  text-align: right;
  font-weight: 600;
  word-break: break-all;
  overflow-wrap: break-word;
}

.bond-preview__footer {
  width: 100%;
  padding-top: 23px;
}

.bond-preview__footer .uik-button {
  width: 100%;
}

.bond-preview .uik-button--disabled {
  background-color: hsla(
    var(--border-color--h),
    var(--border-color--s),
    var(--border-color--l),
    0.5
  );
}

.bond-skeleton {
  width: 100%;
  background-color: white;
  border-radius: 15px;
  box-shadow: var(--shadow);
  padding: 25px 30px;
  margin-top: 10px;
}

.bond-skeleton__image {
  width: 74px;
  min-width: 74px;
  max-width: 74px;
  height: 74px;
  border-radius: 50%;
  overflow: hidden;
  border: solid 10px white;
  background-color: var(--border-color);
  margin: -45px auto 0 auto;
}

.bond-skeleton__title,
.bond-skeleton__subtitle {
  width: 60%;
  border-radius: 20px;
  background-color: var(--border-color);
  margin: 10px auto 0 auto;
  height: 16px;
}

.bond-skeleton__subtitle {
  width: 80%;
  height: 16px;
}

.bond-skeleton__stat {
  width: 100%;
  border-radius: 8px;
  background-color: hsla(
    var(--border-color--h),
    var(--border-color--s),
    var(--border-color--l),
    0.5
  );
  margin-top: 20px;
  height: 34px;
}

.bond-skeleton__stat + .bond-skeleton__stat {
  margin-top: 5px;
}

.bond-skeleton__cta {
  width: 100%;
  height: 40px;
  border-radius: 12px;
  background-color: var(--border-color);
  margin-top: 25px;
}

.bond-overlay .bond-card {
  margin-top: 10px;
}

.bond-overlay .bond-card__wrapper {
  background-color: var(--bg);
  box-shadow: var(--neomorph-out);
}

.bond-overlay .bond-card__stat-label {
  background-color: var(--bg);
}

.bond-overlay .bond-card__info-item:nth-child(odd) {
  background-color: hsl(
    var(--bg--h),
    var(--bg--s),
    calc(var(--bg--l) - 3%)
  );
  border-radius: 8px;
}

.bond-overlay .bond-card__input-wrapper {
  margin-bottom: 20px;
}

.bond-overlay .bond-card__input-wrapper input {
  background-color: transparent;
  border: none;
  box-shadow: var(--neomorph-out);
  font-weight: 500;
  font-family: var(--font);
}

.bond-overlay .bond-card__input-wrapper input:hover {
  box-shadow: var(--neomorph-out), inset 0 0 0 2px var(--primary);
}

.bond-overlay .bond-card__input-wrapper input:focus {
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: var(--neomorph-out), inset 0 0 0 2px var(--primary),
  0 10px 15px -8px hsla(
    var(--primary--h),
    var(--primary--s),
    var(--primary--l),
    0.5
  );
}