.dashboard_refresh-btn {
    padding: 0.2em 0.7em !important;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}

.dashboard_actions_button {
    width: 5em;
    height: 5em;
    color: white;
    transition: all 0.1s;
}

.dashboard_actions_button:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

.dashboard_actions_button:active {
    transform: scale(0.95);
    filter: brightness(1.1);
}

.dashboard_actions_button_text {
    font-size: 0.813em;
    font-weight: 600;
    margin-top: 4px;
    display: block;
}

.dashboard_actions_button-swap {
    background-color: #38a777;
    background: linear-gradient(90deg, rgba(60, 199, 139, 1) 0%, rgb(73, 179, 128) 100%);
    box-shadow: 0 10px 15px -8px rgb(56 167 119 / 50%);
}

.dashboard_actions_button-swap .svg-w {
    width: 1.5em;
    height: 1.5em;
    margin: auto;
}

.dashboard_actions_button-send {
    background-color: #00a6f5;
    background: linear-gradient(90deg, rgb(0, 166, 245) 0%, rgb(2, 153, 224) 100%);
    box-shadow: 0 10px 15px -8px rgb(0 170 255 / 50%);
}

.dashboard_actions_button-send .svg-w {
    width: 2em;
    height: 2em;
    margin: auto;
}

.dashboard_actions_button-buy {
    background-color: #bf37a7;
    background: linear-gradient(90deg, rgb(191, 55, 167) 0%, rgb(149, 51, 173) 100%);
    box-shadow: 0 10px 15px -8px rgb(191 55 167 / 50%);
}

.dashboard_actions_button-buy .svg-w {
    width: 1.7em;
    height: 1.7em;
    margin: auto;
}

.dashboard_actions_button-buy .svg-w svg path {
    fill: white;
}

.dashboard {
    width: 100%;
}

.dashboard__top {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.dashboard__top-left {
    flex-basis: 0;
    flex-grow: 1.5;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.dashboard__top-left > * + * {
    margin-left: 35px;
}

.dashboard__top-right {
    flex-basis: 0;
    flex-grow: 0.6;
    margin-left: 80px;
}

.dashboard__top h5 {
    margin-bottom: 0;
}

.dashboard__main {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 25px 0;
    margin-top: 5px;
}

.dashboard__left {
    margin-top: 2px;
    flex-basis: 0;
    flex-grow: 1.5;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.dashboard__left .tabs__tab:nth-child(3) {
    margin-right: 0;
}

.dashboard__left .tabs__tab:nth-child(4) {
    display: none;
}

.dashboard__right {
    flex-basis: 0;
    flex-grow: 1;
    margin-left: 80px;
}

.dashboard__left .token-activity {
    width: 100%;
    display: none;
}

.dashboard__left .token-activity .token-activity__title {
    display: none !important;
}

@media only screen and (max-width: 1200px) {
    .dashboard__left {
        flex-grow: 1;
    }
}

@media only screen and (max-width: 767px) {
    .dashboard__top {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .dashboard_actions {
        justify-content: center;
        margin: 10px 0;
        transform: scale(0.9);
    }

    .dashboard__main {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    
    .dashboard__left {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .dashboard__left .tabs {
        margin-bottom: 30px;
    }

    .dashboard__right {
        display: none;
    }

    .dashboard__left .token-activity {
        display: block;
    }

    .dashboard__left .tabs__tab:nth-child(3) {
        margin-right: 5px;
    }

    .dashboard__left .tabs__tab:nth-child(4) {
        display: flex;
    }
}

.dashboard__tabs {
    margin-bottom: 30px;
}

.dashboard__tokens {
    width: 100%;
}

.dashboard__tokens-create-btn {
    width: 100%;
    border-radius: 15px;
    padding: 15px;
    background-color: transparent;
    border: dashed 2px hsl(
        var(--border-color-dark--h),
        var(--border-color-dark--s),
        calc(var(--border-color-dark--l) - 5%)
    );
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 400;
    color: hsl(
        var(--border-color-dark--h),
        var(--border-color-dark--s),
        calc(var(--border-color-dark--l) - 25%)
    );
    line-height: 1.1;
    min-height: 4rem;
    transition: all 0.125s;
    text-decoration: none;
}

.dashboard__tokens-create-btn:hover {
    border-color: var(--primary);
    border-style: solid;
    color: var(--primary);
}

.dashboard__tokens-create-btn:active {
    transform: scale(0.985);
}

.dashboard__tokens-create-btn .uik-icon {
    width: 0.813rem;
    height: 0.813rem;
    margin-top: -0.125rem;
    margin-right: 0.5rem;
}

.dashboard__balance {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.dashboard__balance-label {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.dashboard__balance-value,
.dashboard__balance-loading {
    border: none;
    font-size: 3rem;
    color: var(--primary);
    background: -webkit-linear-gradient(0deg, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900 !important;
    line-height: 1.2;
    font-family: 'Lato', sans-serif;
}

.dashboard__balance-value:hover {
    cursor: initial;
}

.dashboard__rewards {
    margin-bottom: -0.875rem;
}

.dashboard__rewards-value {
    font-size: 2rem;
    color: var(--success);
    background-image: -webkit-linear-gradient(
        0deg,
        hsl(
            var(--green--h),
            var(--green--s),
            calc(var(--green--l) - 5%)
        ),
        hsl(
            var(--success--h),
            var(--success--s),
            calc(var(--success--l) - 2.5%)
        )
    );
    font-weight: 900 !important;
    line-height: 1.25;
    font-family: 'Lato', sans-serif;
}

.dashboard__balance-value--hidden {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.dashboard__balance-value--hidden:hover {
    cursor: pointer;
}

.dashboard__balance-value--hidden div {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: var(--primary);
    margin-left: 0.625rem;
    animation: dashboard-balance-hidden-dot 0.15s;
}

.dashboard__rewards-value.dashboard__balance-value--hidden div {
    width: 8px;
    height: 8px;
    background-color: hsl(
        var(--green--h),
        var(--green--s),
        calc(var(--green--l) - 5%)
    );
    margin-left: 7px;
}

@keyframes dashboard-balance-hidden-dot {
    from {
        transform: scale(0);
    }
}

.dashboard__balance-loading {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.dashboard__balance-loading span {
    animation: dashboard-balance-loading 1.5s infinite both;
    display: inline-block;
    background: -webkit-linear-gradient(-90deg, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dashboard__balance-loading span:nth-child(2) {
    animation-delay: 0.1s;
}

.dashboard__balance-loading span:nth-child(3) {
    animation-delay: 0.2s;
}

.dashboard__balance-loading span:nth-child(4) {
    animation-delay: 0.3s;
}

@keyframes dashboard-balance-loading {
    0%, 10%, 90%, 100% {
        transform: none;
    }

    50% {
        transform: scale(0);
    }
}

.dashboard__balance-hide-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    margin-left: 8px;
    color: var(--text-light);
    transition: all 0.125s;
    animation: dashboard-balance-hide-btn 0.15s;
}

@keyframes dashboard-balance-hide-btn {
    from {
        opacity: 0.8;
        transform: scale(0.8);
    }
}

.dashboard__balance-hide-btn:hover,
.dashboard__balance-hide-btn--hidden {
    color: var(--primary);
}

.dashboard__balance-hide-btn .uik-icon {
    height: 16px;
}

.dashboard__left .uik-text--title {
    padding-left: 2px;
    margin-top: 17px;
    margin-bottom: 15px;
}