
.dashboard_refresh-btn {
    padding: 0.2em 0.7em !important;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}

.dashboard_balance-txt {
    font-size: 3em;
}

.dashboard_actions_button {
    width: 5em;
    height: 5em;
    color: white;
    transition: all 0.1s;
}

.dashboard_actions_button:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

.dashboard_actions_button:active {
    transform: scale(0.95);
    filter: brightness(1.1);
}

.dashboard_actions_button_text {
    font-size: 0.813em;
    font-weight: 600;
    margin-top: 4px;
    display: block;
}

.dashboard_actions_button-swap {
    background-color: #38a777;
    background: linear-gradient(90deg, rgba(60, 199, 139, 1) 0%, rgb(73, 179, 128) 100%);
    box-shadow: 0 10px 15px -8px rgb(56 167 119 / 50%);
}

.dashboard_actions_button-swap .svg-w {
    width: 1.5em;
    height: 1.5em;
    margin: auto;
}

.dashboard_actions_button-send {
    background-color: #00a6f5;
    background: linear-gradient(90deg, rgb(0, 166, 245) 0%, rgb(2, 153, 224) 100%);
    box-shadow: 0 10px 15px -8px rgb(0 170 255 / 50%);
}

.dashboard_actions_button-send .svg-w {
    width: 2em;
    height: 2em;
    margin: auto;
}

.dashboard_actions_button-buy {
    background-color: #bf37a7;
    background: linear-gradient(90deg, rgb(191, 55, 167) 0%, rgb(149, 51, 173) 100%);
    box-shadow: 0 10px 15px -8px rgb(191 55 167 / 50%);
}

.dashboard_actions_button-buy .svg-w {
    width: 1.7em;
    height: 1.7em;
    margin: auto;
}

.dashboard_actions_button-buy .svg-w svg path {
    fill: white;
}

.dashboard_balance-txt {
    color: var(--primary);
    font-weight: 900;
    background: -webkit-linear-gradient(0deg, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dashboard-balance-loading {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.dashboard-balance-loading span {
    animation: dashboard-balance-loading 1.5s infinite both;
    display: inline-block;
    background: -webkit-linear-gradient(-90deg, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dashboard-balance-loading span:nth-child(2) {
    animation-delay: 0.1s;
}

.dashboard-balance-loading span:nth-child(3) {
    animation-delay: 0.2s;
}

.dashboard-balance-loading span:nth-child(4) {
    animation-delay: 0.3s;
}

@keyframes dashboard-balance-loading {
    0%, 10%, 90%, 100% {
        transform: none;
    }

    50% {
        transform: scale(0);
    }
}

.dashboard {
    width: 100%;
}

.dashboard__top {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.dashboard__top h5 {
    margin-bottom: 0;
}

.dashboard__main {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 25px 0;
}

.dashboard__left {
    margin-top: 2px;
    flex-basis: 0;
    flex-grow: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.dashboard__right {
    flex-basis: 0;
    flex-grow: 1;
    margin-left: 80px;
}