.nfts {
  width: 100%;
}

.nfts__empty-nft-list {
  padding: 1.75rem 1rem;
  text-align: center;
  width: 100%;
  color: var(--text-light);
}

.nfts__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}

.nfts__item,
.nft-skeleton {
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0 3px 30px 0 rgba(0 0 0 / 7%);
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 15px;
  overflow: hidden;
}

.nfts__item-image {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-color: var(--border-color);
}

.nfts__item-video {
  max-width: 100%;
}

.nfts__item-image--loading {
  position: relative;
}

.nfts__item-image--loading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10px;
  height: 3px;
  background: var(--gradient);
  animation: nft-image-loading 3s linear infinite;
}

@keyframes nft-image-loading {
  from {
    left: 0;
    width: 0;
  }

  47.5% {
    left: 0;
    width: 100%;
  }

  95%, to {
    left: 100%;
    width: 0;
  }
}

.nfts__item-info {
  padding: 15px 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.nfts__item-name {
  font-weight: 600;
  color: var(--text);
}

.nfts__item-name + .nfts__item-balance {
  margin-left: 15px;
}

.nfts__item-balance {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #a93185;
  font-size: 0.688rem;
  padding: 3px 6px;
  line-height: 1.1;
  border-radius: 99px;
  font-weight: 600;
  color: white;
}

.nft-skeleton__image {
  margin: 15px;
  margin-bottom: 0;
  width: calc(100% - 30px);
  height: calc(200px - 15px);
  background-color: var(--border-color);
  border-radius: 10px;
}

.nft-skeleton__name {
  width: 50%;
  height: 1.5rem;
  background-color: var(--border-color);
  margin: 15px;
  border-radius: 99px;
}

@media only screen and (max-width: 1300px) {
  .nfts__container {
      grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 1200px) {
  .nfts__container {
      grid-template-columns: 1fr;
  }
}

.nfts__empty {
  padding: 1.25rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
}

.nfts__empty .uik-text {
  animation: nfts-empty-appear 0.5s;
}

.nfts__empty .uik-button {
  margin-top: 1.25rem;
  animation: nfts-empty-appear 0.5s 0.2s backwards;
}

@keyframes nfts-empty-appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
}
