.nfts {
  margin-top: 50px;
  width: 100%;
}

.nfts__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}

.nfts__item,
.nft-skeleton {
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0 3px 30px 0 rgb(0 0 0 / 7%);
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 15px;
  overflow: hidden;
}

.nfts__item-image {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
}

.nfts__item-info {
  padding: 15px 20px;
}

.nfts__item-name {
  font-weight: 600;
  color: var(--text);
}

.nft-skeleton__image {
  margin: 15px;
  margin-bottom: 0;
  width: calc(100% - 30px);
  height: calc(200px - 15px);
  background-color: var(--border-color);
  border-radius: 10px;
}

.nft-skeleton__name {
  width: 50%;
  height: 1.5rem;
  background-color: var(--border-color);
  margin: 15px;
  border-radius: 99px;
}