.staking {
  margin-top: 50px;
  width: 100%;
}

.staking__bonds {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
}

.staking__bonds > .mx-auto {
  margin: 0 !important;
}

.staking__bonds > .mx-auto > div {
  min-width: 100% !important;
  max-width: 100% !important;
}

@media only screen and (max-width: 1300px) {
  .staking__bonds .bond-card__info-item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .staking__bonds .bond-card__info-value {
    text-align: left;
    margin-top: 5px;
  }
}

@media only screen and (max-width: 1000px) {
  .staking__bonds {
    grid-template-columns: 100%;
  }
}