.token-balance-item_icon-text_w {
    height: 3em;
}

.token-balance-item {
    background-color: #f8f7fc;
    padding: 1em;
    padding-right: 1.4em;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.07);
    border: 1px solid rgba(0,0,0,.1);
}

.token-balance-item__balance {
    color: var(--primary);
    font-weight: 900;
    background: -webkit-linear-gradient(0deg, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.3;
    font-size: 1.25rem;
    margin-right: 5px;
}

.token-balance-item__price:before {
    content: "-";
    display: inline-block;
    margin: 0 5px;
}

.token-balance-item_sub-title {
    font-size: 0.813rem;
    color: var(--text-light);
    font-weight: 600;
    line-height: 1.4;
}

.token-balance-item_icon-text {
    margin-right: 1em;
    display: flex;
    align-items: center;

}

.token-balance-item_icon-text img {
    /*max-height: 3.4em;
    max-width: 3.4em;*/
    height: 100%;
    max-height: 100%;
    width: auto;
}

.token-balance-item_balance-value-icon-w {
    width: 1.4em;
    height: 1.4em;
}

.tokens-container {
    padding: 0 15px;
    display: grid;
    grid-template-columns: calc(50% - 12px) calc(50% - 12px);
    grid-gap: 24px;
}

.tokens-container > * {
    width: 100%;
    padding: 0;
}