.token-balances {
    width: 100%;
}

.token-balance-item_icon-text_w {
    height: 3em;
}

.token-balance-item {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f7fc;
    padding: 1em;
    padding-right: 1.4em;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.07);
    border: 1px solid rgba(0,0,0,.1);
    overflow: hidden;
}

.token-balance-item__info {
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.token-balance-item__balance {
    color: var(--primary);
    font-weight: 900;
    background: -webkit-linear-gradient(0deg, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.3;
    font-size: 1.25rem;
    margin-right: 5px;
}

.token-balance-item__price:before {
    content: "-";
    display: inline-block;
    margin: 0 5px;
}

.token-balance-item_sub-title {
    font-size: 0.813rem;
    color: var(--text-light);
    font-weight: 600;
    line-height: 1.4;
}

.token-balance-item_icon-text {
    margin-right: 0;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.token-balance-item_icon-text img {
    /*max-height: 3.4em;
    max-width: 3.4em;*/
    height: 100%;
    max-height: 100%;
    width: auto;
}

.token-balance-item_balance-value-icon-w {
    width: 1.4em;
    height: 1.4em;
}

.tokens-container {
    display: grid;
    grid-template-columns: calc(50% - 12px) calc(50% - 12px);
    grid-gap: 24px;
}

.tokens-container > * {
    width: 100%;
    padding: 0;
}

.token-skeleton__image {
    width: 3em;
    min-width: 3em;
    height: 3em;
    background-color: var(--border-color);
    border-radius: 50%;
}

.token-skeleton__title {
    height: 1rem;
    border-radius: 99px;
    background-color: var(--border-color);
    width: 50%;
    min-width: 90px;
}


.token-skeleton__sub-title {
    margin-top: 8px;
    height: 0.75rem;
    border-radius: 99px;
    background-color: var(--border-color);
    width: 100%;
    min-width: 110px;
}

.token-skeleton__balance {
    width: 60px;
    height: 1.625rem;
    border-radius: 99px;
    background-color: var(--border-color);
    margin-right: 5px;
}

@media only screen and (max-width: 1300px) {
    .token-balance-item,
    .token-balance-item_icon-text {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
    }

    .token-balance-item__info {
        flex-flow: column nowrap;
    }

    .token-balance-item .mr-1 {
        margin: 0;
    }

    .token-balance-item_icon-text_w {
        margin: 8px 0 12px 0 !important;
    }

    .token-balance-item__balance {
        margin: 8px 0;
    }

    .token-skeleton__title {
        margin: 0 auto;
        min-width: 60px;
    }

    .token-skeleton__sub-title {
        min-width: 90px;
    }

    .token-skeleton__balance {
        margin: 15px 0 6px 0;
    }
}