.activity-item {
    cursor: pointer;
}
.activity-item_body {
    width: 100%;
    padding: 1em 0;
    border-bottom: #e2dbea solid 1px;
    border-radius: 0;
}

.activity-item:last-child .activity-item_body {
    border-bottom: none;
}

.activity-item_icon {
    height: 100%;
    vertical-align: top;
}

.activity-item_icon-w {
    height: 1em;
}

.activity-item_type-icon-w {
    border-radius: 0.5em;
    min-width: 3.5em;
    min-height: 3.5em;
    height: 3.5em;
    margin: 0 0.7em;
}

.send-activity .receive {
    display: none !important;
}

.send-activity .send {
    display: flex;
}

.receive-activity .receive {
    display: flex;
}

.receive-activity .send {
    display: none !important;
}

.send-activity .activity-item_type-icon-w {
    background-color: #ebe9f3;
}

.receive-activity .activity-item_type-icon-w {
    background-color: #d8ebe7;
}

.receive-activity .activity-item_type-icon-w svg line{
    stroke: #31bf78;
}

.send-activity .activity-item_type-icon-w svg line{
    stroke: #b2b0c8;
}

.receive-activity .activity-item_type-icon-w svg polyline{
    stroke: #31bf78;
}

.send-activity .activity-item_type-icon-w svg polyline{
    stroke: #b2b0c8;
}

.send-activity  {
    max-height: 100%;
    width: auto;
}

.receive-activity .activity-item_body .amount-text {
    color: #31bf78;
}
.send-activity .activity-item_body .amount-text {
    color: #b2b0c8;
}

.activity-item__amount {
    color: var(--primary);
    font-weight: 900;
    background: -webkit-linear-gradient(0deg, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.3;
    /* font-size: 1.25rem; */
    margin-right: 5px;
}

.send-activity .activity-item__amount {
    color: var(--text-light);
    background: transparent;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
}

.activity-item--nft {
    position: relative;
}

.activity-item--nft .activity-item__amount {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.activity-item--nft .activity-item_type-icon-w {
    position: absolute;
    z-index: 1;
    top: 7px;
    left: 48px;
    margin: 0;
    min-width: 24px;
    min-height: 24px;
    height: 24px;
    border-radius: 5px;
}

.activity-item--nft .activity-item_type-icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activity-item--nft .activity-item_type-icon svg {
    width: 16px;
    height: 16px;
}

.activity-item__nft-image {
    border-radius: 0.5em;
    min-width: 3.5em;
    min-height: 3.5em;
    height: 3.5em;
    margin: 0 0.7em;
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width: 1200px) {
    .activity-item .token-balance-item,
    .activity-item .token-balance-item_icon-text {
        align-items: flex-start;
        text-align: left;
    }
}