.token-activity .card.card-bg-light {
  background-color: white;
}

.token-activity .card {
  background: white;
  box-shadow: var(--shadow);
  border-radius: 15px;
  border: none;
  width: 100%;
  overflow: hidden;
}

.token-activity__title {
  padding-left: 0;
}

.no-token-activity {
  padding: 1.75rem 1rem;
  text-align: center;
  width: 100%;
  color: var(--text-light);
}

.token-activity-skeleton {
  width: 100%;
  height: 82px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 13px;
}

.token-activity-skeleton__icon {
  border-radius: 10px;
  width: 3.5em;
  min-height: 3.5em;
  min-width: 3.5em;
  background-color: var(--border-color);
}

.token-activity-skeleton + .token-activity-skeleton {
  border-top: solid 1px var(--border-color);
}

.token-activity-skeleton__info {
  margin-left: 1em;
  flex-grow: 1;
}

.token-activity-skeleton__title {
  height: 1rem;
  border-radius: 99px;
  background-color: var(--border-color);
  width: 30%;
  min-width: 90px;
}


.token-activity-skeleton__subtitle {
  margin-top: 8px;
  height: 0.75rem;
  border-radius: 99px;
  background-color: var(--border-color);
  width: 60%;
  min-width: 110px;
}

.token-activity-skeleton__amount {
  width: 60px;
  height: 1.625rem;
  border-radius: 99px;
  background-color: var(--border-color);
  margin-right: 5px;
}

.activity {
  margin-top: 25px;
}

.activity__head {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 23px;
}

.activity__title {
  padding-left: 2px;
}

.activity__open-explorer-btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--primary);
  padding: 5px;
  text-decoration: none;
}