.transfer-asset {
  padding: 0 !important;
  max-width: unset !important;
  margin: 0 !important;
}

.transfer-asset .uik-modal__container .uik-modal__popup {
  width: 920px !important;
  background-color: #eeebf6 !important;
  box-shadow: var(--neomorph-out);
}

.transfer-asset .uik-modal__container .uik-modal__popup .uik-modal__head {
  padding-bottom: 20px !important;
}

.transfer-asset .uik-modal__footer .uik-button {
  width: auto;
}


.transfer-asset-summary {
  background-color: #DDDAEC;
  box-shadow: var(--neomorph-in);
  padding: 20px;
  border-radius: 15px;
}


.transfer-asset__indicator {
  height: 2.875rem;
  width: 2.875rem;
  min-width: 2.875rem;
  border-radius: 12px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}



.transfer-asset__content-token .transfer-asset__indicator {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 20px;
}

.transfer-asset--send .transfer-asset__indicator {
  background-color: hsla(var(--border-color-dark--h),
      var(--border-color-dark--s),
      var(--border-color-dark--l),
      0.55);
  color: #b2b0c8;
}

.transfer-asset--receive .transfer-asset__indicator {
  background-color: hsla(var(--success--h),
      var(--success--s),
      var(--success--l),
      0.2);
  color: var(--success);
}


.transfer-asset__content-nft .transfer-asset__indicator-icon {
  width: 1rem;
  height: 1.25rem;
}
.transfer-asset__content-token .transfer-asset__indicator-icon {
  width: 1.8rem;
  height: 2.05rem;
}

.transfer-asset--send .transfer-asset__indicator-icon {
  transform: rotate(-135deg);
}

.transfer-asset--receive .transfer-asset__indicator-icon {
  transform: rotate(45deg);
}

.transfer-asset__status-icon {
  width: 3rem;
  height: 3.25rem;
}

.transfer-asset__status-icon--pending {
  color: var(--success);
}

.transfer-asset__status-icon--success {
  color: var(--success);
}

.transfer-asset__status-icon--failed {
  color: var(--failed);
}

.transfer-asset__content-ntf .transfer-asset__block, 
.transfer-asset__content-token .transfer-asset__block  {
  background-color: #eeebf6;
  position: relative;
  padding: 30px 10px;
  border-radius: 15px;
  grid-column: span 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transfer-asset__content-token .transfer-asset__block  {
  padding: 20px 20px;
}

.transfer-asset__content-ntf, .transfer-asset__content-token {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-gap: 1rem;
}

.transfer-asset__content-token {
  grid-template-columns: repeat(15, 1fr);
}

.row-span-2 {
  grid-row: span 2;
}

.transfer-asset__content-ntf .col-span-6, 
.transfer-asset__content-token .col-span-6 {
  grid-column: span 6;
}

.transfer-asset__info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.transfer-asset__title {
  font-size: 0.938rem;
  line-height: 1.1;
  font-weight: 600;
  color: var(--text);
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 15rem;
}

.transfer-asset__date {
  color: #b2b0c8;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1.1;
}

.transfer-asset__amount-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0.323rem;
}

.transfer-asset__nft-quantity-indicator::after {
  content: "x";
  color: #b2b0c8;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.35;
}


.transfer-asset__content-ntf .transfer-asset__amount,
.transfer-asset__content-token .transfer-asset__amount {
  line-height: 1.1;
  color: var(--primary);
  background: -webkit-linear-gradient(0deg, var(--primary), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.transfer-asset__content-token .transfer-asset__amount {
  font-size: 1.8rem;
}

.transfer-asset__content-ntf .transfer-asset__amount {
  font-size: 3rem;
}

.transfer-asset__wallet {
  background: linear-gradient(0deg, rgb(250 248 255) 0%, rgb(217 211 235) 100%);
  height: 2.5em;
  background-color: #f3f0f8;
  box-shadow: 0.2em 0.2em 1.5em #e2def1;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 99px;
  display: flex;
  justify-content: space-between;
}

.transfer-asset__wallet-name {
  align-items: center;
  background: linear-gradient(135deg, #ae27a5, #742cb2);
  border: none;
  border-radius: 999px;
  box-shadow: 0 5px 20px -10px #742cb2;
  color: #fff;
  display: flex;
  flex-flow: row nowrap;
  font-size: .938rem;
  font-weight: 500;
  justify-content: flex-start;
  line-height: 1.1;
  overflow: hidden;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  transition: all .125s;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.transfer-asset__wallet-name:hover {
  cursor: pointer;
  filter: brightness(1.15);
  transition: none;
}

.transfer-asset__direction-indicator::after {
  content: url("data:image/svg+xml,%3Csvg width='31' height='29' viewBox='0 0 31 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.8304 12.6982C30.665 13.616 30.665 15.1063 29.8304 16.0241L19.1466 27.7709C18.312 28.6887 16.9565 28.6887 16.1218 27.7709C15.2871 26.8532 15.2871 25.3628 16.1218 24.4451L23.1664 16.7069L2.68033 16.7069C1.49844 16.7069 0.543578 15.657 0.543578 14.3575C0.543579 13.058 1.49844 12.0081 2.68033 12.0081L23.1597 12.0081L16.1285 4.26986C15.2938 3.35214 15.2938 1.86175 16.1285 0.944031C16.9631 0.0263071 18.3186 0.0263072 19.1533 0.944031L29.837 12.6909L29.8304 12.6982Z' fill='%239E4287'/%3E%3C/svg%3E%0A");
  padding: 0.8rem;
  width: 4rem;
  height: 4rem;
  top: 50%; 
  right: 0%;
  transform: translate(50%,-50%);
  background-color: #E6DFEF;
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
  border: solid 4px #eeebf6;
  box-shadow: 0 2px 7px var(--border-color-dark);
  position: absolute;
  z-index: 10;
  margin-right: -0.6rem;
}

.transfer-asset__wallet .transfer-asset__wallet-address {
  margin: 0 !important;
  padding: 0 11px 0 19px;
  font-size: 1rem !important;
  line-height: 1.4;
  font-weight: 900;
  color: #a93185;
  background: linear-gradient(to right, #a93185, #5531a9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.transfer-asset__amount--hidden>div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0.313rem;
}

.transfer-asset__amount--hidden div div {
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  margin-left: 0.188rem;
  animation: dashboard-balance-hidden-dot 0.15s;
}

.transfer-asset--receive .transfer-asset__amount--hidden div div {
  background-color: var(--success);
}

.transfer-asset--send .transfer-asset__amount--hidden div div {
  background-color: #b2b0c8;
}

.transfer-asset--receive .transfer-asset__amount {
  color: var(--success);
}

.transfer-asset--send .transfer-asset__amount {
  color: #b2b0c8;
}

.transfer-asset__amount-token-icon {
  width: 4rem;
  min-width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}


.transfer-asset__nft-preview {
  width: 15em;
  height: 15rem;
  border-radius: 1.3rem;
  background-size: cover;
  background-position: center;
  border: solid 5px white;
  box-shadow: 0 3px 6px var(--border-color-dark);
  display: flex;
  justify-content: end;
  align-items: end;
}

.transfer-asset--receive .transfer-asset__nft-preview .transfer-asset__indicator {
  background-color: rgba(224, 243, 230, 1);
  margin: 0 1rem 1rem 0;
}
.transfer-asset--send .transfer-asset__nft-preview .transfer-asset__indicator {
  background-color: rgba(226, 227, 238, 1);
  margin: 0 1rem 1rem 0;
}

.transfer-asset--skeleton {
  pointer-events: none;
}

.transfer-asset--skeleton .transfer-asset__indicator {
  background-color: var(--border-color);
}

.transfer-asset--skeleton .transfer-asset__title {
  border-radius: 99rem;
  background-color: var(--border-color);
  width: 12.5rem;
  height: 0.625rem;
}

.transfer-asset--skeleton .transfer-asset__date {
  border-radius: 99rem;
  background-color: var(--border-color);
  width: 12.5rem;
  height: 0.625rem;
  margin-top: 0.625rem;
}

.transfer-asset--skeleton .transfer-asset__amount {
  width: 3.125rem;
  height: 1rem;
  border-radius: 99rem;
  background-color: var(--border-color);
}


.uik-modal.transfer-asset .uik-modal__overlay {
  background-color: #EDEBF6;
}