.creator {
  padding: 3.5rem;
  max-width: calc(1400px + 3.5rem * 2);
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  min-height: calc(90vh - 80px);
  animation: creator-appear 0.4s;
}

@keyframes creator-appear {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
}

.creator__form {
  border-radius: 15px;
  z-index: 1;
  max-width: calc(550px + 3.5rem);
  padding-right: 3.5rem;
  width: calc(50% + 3.5rem);
}

.creator__form .uik-text--headline {
  margin-left: -0.25rem;
  font-size: 2.5rem;
  width: auto;
  display: inline-block;
}

.creator__form .uik-text--lead {
  margin-top: 5px;
  font-weight: 400;
  color: hsla(
    var(--text--h),
    var(--text--s),
    var(--text--l),
    0.75
  );
}

.creator__form .uik-form {
  margin-top: 30px;
}

.creator__form .uik-form > *:not(.uik-label) + * {
  margin-top: 25px;
}

.creator__form-main .uik-input:first-child {
  flex-grow: 2;
}

.creator__form .uik-form .uik-container > * + * {
  margin-left: 30px;
}

.creator__form-bottom {
  justify-content: flex-start;
  align-items: flex-start;
}

.creator__form-bottom .uik-toggle:first-child .uik-toggle__text {
  min-width: 68px;
}

.creator__form .uik-label {
  white-space: nowrap;
}

.creator__form-bottom > * {
  flex-grow: unset !important;
}

.creator__form .uik-label {
  font-weight: 400;
}

.creator__form .uik-input .uik-input__wrapper .uik-input__input-wrapper .uik-input__input {
  border-color: hsl(
    var(--bg--h),
    var(--bg--s),
    calc(var(--bg--l) - 4%)
  );
}

.creator__form .uik-input .uik-input__wrapper .uik-input__input-wrapper .uik-input__input:hover {
  background-color: hsl(
    var(--bg--h),
    var(--bg--s),
    calc(var(--bg--l) + 1%)
  );
}

.creator__form .uik-input .uik-input__wrapper .uik-input__input-wrapper .uik-input__input:focus {
  background-color: hsl(
    var(--bg--h),
    var(--bg--s),
    calc(var(--bg--l) + 1%)
  );
  border-color: var(--primary);
  box-shadow: 0 10px 15px -8px hsla(
    var(--secondary--h),
    var(--secondary--s),
    var(--secondary--l),
    0.3
  );
}

.creator__form .uik-toggle .uik-toggle__toggle {
  background-color: hsl(
    var(--bg--h),
    var(--bg--s),
    calc(var(--bg--l) - 2%)
  );
  box-shadow: inset 0 0 0 1px hsl(
    var(--bg--h),
    var(--bg--s),
    calc(var(--bg--l) - 4%)
  );
}

.creator__token-symbol-input .uik-input__input {
  text-transform: uppercase;
}

.creator .icon-upload {
  transform: translateY(-3px);
}

.creator__preview {
  flex-grow: 1;
  margin: 0 auto;
  max-width: 500px;
}

.creator__preview-title {
  font-size: .875rem;
  font-weight: 400;
  color: var(--text-light);
  padding: 0 2px;
  margin-bottom: 10px;
}

.creator__preview-token {
  width: 100%;
  border-radius: 20px;
  box-shadow: var(--neomorph-out);
  padding: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.creator__preview-token-image {
  width: 54px;
  height: 54px;
  min-width: 54px;
  border-radius: 50%;
  background-color: hsl(
    var(--bg--h),
    var(--bg--s),
    calc(var(--bg--l) - 1%)
  );
  overflow: hidden;
  box-shadow: var(--neomorph-in);
}

.creator__preview-token-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: icon-upload-image 0.25s ease-out;
}

.creator__preview-token-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 18px;
  max-width: calc(60% - 54px - 18px);
}

.creator__preview-token-name {
  font-size: 1.125rem;
  font-weight: 500;
  color: hsla(
    var(--text--h),
    var(--text--s),
    var(--text--l),
    0.9
  );
  line-height: 1.3;
  min-height: calc(1.125rem * 1.3);
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.creator__preview-token-symbol {
  font-size: 0.875rem;
  font-weight: 400;
  color: hsla(var(--text--h),var(--text--s),var(--text--l),.5);
  text-transform: uppercase;
  line-height: 1.4;
  min-height: calc(0.875rem * 1.4);
  padding-left: 1px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 0.125rem;
}

.creator__preview-token + .creator__preview-info {
  margin-top: 28px;
}

.creator__preview-info {
  margin: 0 10px;
}

.creator__preview-info + .creator__preview-info {
  border-top: solid 1px var(--border-color-dark);
  padding-top: 15px;
  margin-top: 17px;
}

.creator__preview-info .uik-icon {
  width: 1.125rem;
  color: var(--success);
}

.creator__preview-info--disabled .uik-icon {
  color: var(--danger);
}

.creator__preview-info .uik-icon + .uik-text {
  font-size: 1.125rem;
  font-weight: 400;
  margin-left: 10px;
}

.creator__preview-info .uik-text--mini {
  margin-top: 0.188rem;
  font-weight: 400;
  color: hsla(
    var(--text--h),
    var(--text--s),
    var(--text--l),
    0.75
  );
}

.creator__preview .uik-button {
  margin-top: 30px !important;
  width: 100%;
  transition: all 0.125s, margin 0s;
}

.creator__preview .uik-button:not(.uik-button--disabled) {
  animation: creator-confirm-btn-valid 0.2s;
}

@keyframes creator-confirm-btn-valid {
  from {
    transform: scale(0.95);
  }
}

.creator__preview .uik-button--disabled {
  background-color: hsl(
    var(--bg--h),
    var(--bg--s),
    calc(var(--bg--l) - 2%)
  );
  box-shadow: inset 0 0 0 1px hsl(
    var(--bg--h),
    var(--bg--s),
    calc(var(--bg--l) - 4%)
  );
  font-weight: 400;
}

.creator__preview-token-supply {
  margin-left: auto;
  padding: 0 10px 0 15px;
  font-size: 1.375rem;
  line-height: 1;
  text-align: right;
  max-width: calc(40%);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.creator__creating {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: creator-creating 0.4s;
}

@keyframes creator-creating {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
}

.creator__creating .uik-text--headline {
  font-size: 2.25rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.creator__creating .uik-text--headline + .uik-text {
  margin-top: 16px;
  max-width: 650px;
}

.creator__creating .uik-loading {
  margin-bottom: 30px;
  margin-top: -30px;
}

.creator__creating-cta {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.creator__creating-cta > * + * {
  margin-left: 15px;
}