.navigation {
  min-height: 60px;
  background-color: #f3f0f8;
  box-shadow: 0.2em 0.2em 1.5em #e2def1;
}
.navigation_menu-items {
  display: flex;
  margin: 0;
  align-items: center;
  list-style: none;
  font-size: small;
}
.navigation_menu-items_menu-item{
  margin-right: 2.5em;
  color: #8d8995;
  font-weight: 700;
}

.navigation_menu-items_menu-item_link{
  color: inherit;
  text-decoration: none;
}

.nav-account {
  background: linear-gradient( 0deg, rgb(250 248 255) 0%, rgb(217 211 235) 100%);
  height: 2.5em;
}

.logo-btn {
  height: 100%;
  width: 100%;
  border: none;
  background: none;
}

.logo-w {
  width: 6em;
  min-width: 6em;
}
