.network-switching {
  background: var(--bg);
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.network-switching.enter {
  opacity: 0;
  transform: scale(0.8);
}

.network-switching.enter-active,
.network-switching.enter-done,
.network-switching.exit {
  opacity: 1;
  transform: none;
}

.network-switching.exit-active {
  opacity: 0;
  transform: scale(0.8);
}

.network-switching.exit-active {
  transition: all 0.4s 1.1s;
}

.network-switching .uik-text {
  margin-top: 25px;
  animation: network-switching-text 0.3s;
}

@keyframes network-switching-text {
  from {
    opacity: 0;
    transform: scaleY(0.5);
  }
}

.network-switching .uik-icon {
  width: 50px;
  color: var(--success);
  animation: network-switched 0.3s;
}

@keyframes network-switched {
  from {
    transform: scale(0.6);
  }
}